<div class="w-full flex justify-evenly p-5 border-b shadow-xl border-black/30
">
    <a routerLink="home" routerLinkActive="border-b-2 border-blue-600 text-blue-600 rounded-lg " class="text-3xl px-2">Chats</a>
    <a routerLink="contacto" routerLinkActive="bg-blue-500 text-white " class="border border-black/10 p-2 rounded">Contactos</a>
    <a routerLink="nuevo-chat" routerLinkActive="bg-blue-500 text-white " class="border border-black/10 p-2 rounded">Nuevo Chat</a>
    <a routerLink="login" routerLinkActive="bg-blue-200" class="border border-black/10 p-2 rounded">Login</a>
</div>