
<div *ngIf="datos.length<=0" class="w-full h-[500px] text-xl items-center flex justify-center text-center p-10">
    no cuenta con ningun chat <a class="text-blue-600 mx-2 decoration-solid decoration-blue-600 underline" href="nuevo-chat"> inicie uno</a>
</div>

<div *ngFor="let contacto of " class="mt-4">
    <div  class="w-full flex flex-col items-center"   >
        <div routerLink="chat" class=" cursor-alias border my-1 rounded-3xl p-3 w-1/2" *ngIf="">
            <h3 class="text-xl"></h3>
            <p *ngIf=""> </p>
        </div>
    </div>
</div>

